.card-img-top {
    width: auto;
    height: 100%;
    max-height:200px;
    min-height: 100px;
    object-fit: cover;
}

.btn-outline-primary{
    border-radius:50px;
    border: 1px solid transparent;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
    padding-top: 60px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {display: none;}
}




